/* Element Selector */
/* p
{
    color:white;
    background-color: red;
    border: 2px solid purple;
    border-radius: 20px 5px;
} */


/* Group Selector */
/* a,h1,p
{
    color:white;
    background-color: red;
    border: 2px solid purple;
    border-radius: 20px 5px;
} */

/* Class Selector */

/* p.jsp
{
    color:white;
    background-color: red;
    border: 2px solid purple;
    border-radius: 20px 5px;
} */

/* Generic Class Selector */
/* .qsp
{
    color:white;
    background-color: red;
    border: 2px solid purple;
    border-radius: 20px 5px;
} */

/* ID Selector */
/* #rcb
{
    background-color: pink;
    color: blue;
} */

/* Universal Selector */
/* *
{
    color:red;
} */

/* Attribute Selector */
/* input[name]
{
    border: 2px solid red;
} */

/* Attribute Value Selector */
/* input[type="password"]
{
    border:2px solid red
} */
/* Child Selectors */
/* div p
{
    color: red;
} */

/* div>p
{
    color: red;
} */

/* Sibling Selectors */
/* div~p
{
    color: red;
} */


div+p
{
    color: red;
}
