/* div,h1
{
    background-color: red;
    display: inline;
}

a,label
{
    background-color: red;
    display: block;
} */

div
{
    background-color: hotpink;
    width: 200px;
    height: 200px;
    margin: 8px;
    display: inline-block;
    padding: 20px;
    box-sizing: border-box;

}