.gallery
{
    background-color: gray;
    padding: 50px;
}
.gallery h1
{
    font-size: 40px;
    font-family: algerian;
    font-weight: bold;
    text-align: center;
    color: white;
}
.gallery-img
{

    width: 350px;
    height: 350px;
    display: inline-block;
    margin-left: 35px;
    margin-bottom: 25px;
   
}
.gallery-img img
{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    opacity: 0.5;
    box-shadow: 4px 4px 30px 20px white;
    transition:transform 2s ;

}

.gallery-img img:hover
{
    opacity: 1;
    transform: scale(1.1);
}