div
{
    background-color: red;
    height: 200px;
    width: 200px;
    margin: 100px;
    animation-name: jsp;
    animation-duration: 10s!important;
    /* animation-delay: 10s; */
    animation-iteration-count: infinite;
 
    
}

@keyframes jsp {
    from{background-color: green;transform: translate(0px,-20px);}
    to{background-color: blue;transform: translate(0px,20px);}

    /* 0%{background-color: hotpink;}
    20%{background-color: yellow;}
    60%{background-color: orange;}
    80%{background-color: blue;}
    100%{background-color: aqua;} */



}