*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html,body
{
    width: 100%;
    overflow-x: hidden;
    background-color: rgba(239, 239, 239, 0.205);
}

/* Navbar Starts */

    nav
    {
        background-color: white;
        padding: 12px 10px;
    }


    nav ul li
    {
        display: inline;
    }

    nav ul
    {
        display: inline;
        margin-left: 100px;
    }

    nav ul li a
    {
        text-decoration: none;
        color: gray;
        margin-left: 25px;
    }

    nav ul li a:hover
    {
        color:rgb(52, 152, 219);
    }

    .brand-logo
    {
        text-decoration: none;
        color: black;
        font-size: 30px;
        font-weight: bold;
        letter-spacing: 1px;
        font-family: 'Oswald', sans-serif;
        margin-left: 60px;
    }
    .nav-btn
    {
        background-color: rgb(52, 152, 219);
        color: white;
        padding: 13px 31px;
        border-radius: 29px;
        margin-bottom: 5px;
    }
    .nav-btn:hover
    {
        color: white;
    }
   
/* Navbar Ends */

/* Banner of baker website Starts */

    /* .banner
    {
        height: 400px;
        background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
         url("https://bootstrapmade.com/demo/templates/Baker/assets/img/hero-bg.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    .banner-content
    {
       
        width: 600px;
        padding: 20px;
        text-align: center;
        color: white;
        margin: 120px auto;
    }
    .banner-content h1
    {
        font-size: 50px;
    }

    .banner-content p
    {
        font-size: 19px;
    } */
/* Banner of baker website  Ends */

/* Banner of vesper website starts */
    .banner
    {
        background-color: white;
        padding: 20px;
    }
    .banner-content,.banner-image
    {
        width: 500px;
        display: inline-block;
    }

    .banner-image
    {
        overflow: hidden;
    }
    .banner-image img
    {
        width: 100%;
    }

    .banner-content h1
    {
        font-size: 50px;
    }

    .banner-content p
    {
        font-size: 30px;
        margin-top: 25px;
        margin-bottom: 50px;
    }

    .banner-content button
    {
        border:2px solid rgb(52, 152, 219);
        color: rgb(52, 152, 219);
        border-radius: 30px;
        padding: 10px 25px;
        background-color: transparent;
        font-size: 18px;
        transition:background-color 1s,color 1s ;
    }

    .banner-content button:hover
    {
        background-color: rgb(52, 152, 219);
        color: white;
    }

    .banner-animation
    {
        animation-duration: 10s;
    }

/* Banner of vesper website Ends */

/* logos starts */

.logos
{
    background-color: rgb(222, 240, 247);
}

.logo-image
{
    width: 173px;
    height: 85px;
    display: inline-block;
}

.logo-image img
{
    width: 45%;
    height:45%;
    margin: 25px 45px;
    filter: grayscale(100%);
}

.logo-image img:hover
{
    filter:none ;
}
/* logos Ends */

/* aboutus starts */
    .aboutus
    {
        margin: 50px;
    }

    .aboutus-content
    {
        width: 479px;
        padding: 20px;
        display: inline-block;
    }
    .aboutus h1
    {
        text-align: center;
    }

    .aboutus p,.aboutus li
    {
        font-size: 17px;
    }

  .aboutus li
    {
        font-size: 16px;
    }
    .aboutus p
    {
        margin-bottom: 30px;
    }
    .aboutus li
    {
        margin-bottom: 15px;
    }

    .aboutus-content button
    {
        color: #3498db;
        border-radius:30px;
        padding: 12px 50px;
        font-size: 17px;
        border: 2px solid #3498db;
        background-color: transparent;
        transition: background-color 1s,color .8s;
    }

    .aboutus-content button:hover
    {
        color: white;
        background-color: #3498db;
    }

    .aboutus-content ul
    {
        list-style-type: none
    }

    .fa-check-double
    {
        color: #3498db;
    }
/* aboutus ends */

/* bg-img starts */
.bg-img .image
{

}
.bg-img .image img
{
    width: 90%;
    margin: 20px 50px;
}

.bg-card
{
    width: 470px;
    padding: 20px;
    display: inline-block;
    margin-left: 10px;
}

.bg-img-content
{
    margin: 40px;

}

.fa-smile,.fa-envelope-open-text,.fa-clock,.fa-award
{
    font-size: 40px;
    color:#3498db;
}

/* bg-img Ends */