*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html,body
{
    width: 100%;
    overflow-x: hidden;
    background-color: rgba(239, 239, 239, 0.205);
}

/* Navbar Starts */

    nav
    {
        background-color: white;
        padding: 12px 10px;
    }


    nav ul li
    {
        display: inline;
    }

    nav ul
    {
        display: inline;
        margin-left: 100px;
    }

    nav ul li a
    {
        text-decoration: none;
        color: gray;
        margin-left: 25px;
    }

    nav ul li a:hover
    {
        color:rgb(52, 152, 219);
    }

    .brand-logo
    {
        text-decoration: none;
        color: black;
        font-size: 30px;
        font-weight: bold;
        letter-spacing: 1px;
        font-family: 'Oswald', sans-serif;
        margin-left: 60px;
    }
    .nav-btn
    {
        background-color: rgb(52, 152, 219);
        color: white;
        padding: 13px 31px;
        border-radius: 29px;
        margin-bottom: 5px;
    }
    .nav-btn:hover
    {
        color: white;
    }
   
/* Navbar Ends */

/* Banner of baker website Starts */

    /* .banner
    {
        height: 400px;
        background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
         url("https://bootstrapmade.com/demo/templates/Baker/assets/img/hero-bg.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    .banner-content
    {
       
        width: 600px;
        padding: 20px;
        text-align: center;
        color: white;
        margin: 120px auto;
    }
    .banner-content h1
    {
        font-size: 50px;
    }

    .banner-content p
    {
        font-size: 19px;
    } */
/* Banner of baker website  Ends */

/* Banner of vesper website starts */
    .banner
    {
        background-color: white;
        padding: 20px;
    }
    .banner-content,.banner-image
    {
        width: 500px;
        display: inline-block;
    }

    .banner-image img
    {
        width: 100%;
    }

    .banner-content h1
    {
        font-size: 50px;
    }

    .banner-content p
    {
        font-size: 30px;
        margin-top: 25px;
        margin-bottom: 50px;
    }

    .banner-content button
    {
        border:2px solid rgb(52, 152, 219);
        color: rgb(52, 152, 219);
        border-radius: 30px;
        padding: 10px 25px;
        background-color: transparent;
        font-size: 18px;
        transition:background-color 1s,color 1s ;
    }

    .banner-content button:hover
    {
        background-color: rgb(52, 152, 219);
        color: white;
    }
/* Banner of vesper website Ends */